<br />
<% post.comments.forEach(function(comment,index){ %>
  <p><a href="<%=comment.website %>"><%=comment.name %></a></p>
  <span class="info">回复与<%= comment.time%></span>
  <p><%- comment.content %></p>
<% })%>

<form method="post">
    <%if(locals.user){%>
      姓名：<input type="text" name="name" value="<%=user.name %>" /><br />
      邮箱：<input type="text" name="email" value="<%=user.email %>" /><br />
      网址：<input type="text" name="website" value="/u/<%=user.name %>" /><br />
    <%}else{%>
      姓名：<input type="text" name="name" value="" /><br />
      邮箱：<input type="text" name="email" value="" /><br />
      网址：<input type="text" name="website" value="" /><br />
    <%}%>
    <textarea name="content" rows="5" cols="80"></textarea><br />
    <button >留言</button>
</form>