<%- include header %>
<div class="container">
  <div class="span twelve">
    <h3 style="border-bottom:2px solid; "><%= title %></h3>
  </div>
  <div class="row">
    <%- include left %>
    <div class="span nine">
      <% if(error){ %><div class="alert danger" > <%= error %></div><% } %>
      <% if(success){ %><div class="alert success"><%= success %></div><% } %>
      <div>
        <form  method="post">
          <label>标题:<input name="title" value="<%= post.title%>" readonly ></label><br />
          <label>正文:<textarea name="content" rows="20" cols="100"><%= post.content%></textarea></label>
          <br />
          <button >保存</button>
        </form>
        <!--<h3><%=post.title %></h3>-->
        <!--<p><%=post.name %> <span style="padding-left:40px;"><%=post.time.minute  %></span></p>-->
        <!--<p><a href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a> <a  href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></p>-->
        <!--<div><%- post.content %></div>-->
      </div>
    </div>
  </div>
</div>
<%- include footer %>
