<%- include header %>
  <div class="container">
    <div class="span twelve">
      <h3 style="border-bottom:2px solid; "><%= title %></h3>
    </div>
    <div class="row">
      <%- include left %>
      <div class="span nine">
        <% if(error){ %><div class="alert danger" > <%= error %></div><% } %>
        <% if(success){ %><div class="alert success"><%= success %></div><% } %>
        <form action="/login" method="post">
          <label>用户名：<input name="username" ></label><br />
          <label>密 码：<input name="pwd" type="password"></label><br />
          <button>登录</button>
        </form>
      </div>
    </div>
  </div>
<%- include footer %>